:root {
    --list-item-height: 4rem;
}

#selection {
    height:calc(var(--list-item-height) * 5);
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: calc(var(--list-item-height) * 2) 0;
    scroll-snap-type: y mandatory;
}

#selectionContainer {
    position: relative;
}

#selectionBox {
    position:absolute;
    top:calc(var(--list-item-height) * 2);
    border: 3px solid darkred;
    width:calc(100% - 1.5rem);
    height:var(--list-item-height);
    margin: 0 0.5rem;
}

#selection li {
    height:var(--list-item-height);
    width:100%;
    margin:6px 10px;
    scroll-snap-align: center;
    background-color:beige;
    border-radius: 6px;
    padding:0.5rem 2rem;
}

#sentence {
    transition: background-color 0.3s;
    background-color: inherit;
}

#sentence.clipped {
    background-color: #99f999;
}