#selection {
    height:20rem;
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 11.5rem 0;
    scroll-snap-type: y mandatory;
}

#selectionContainer {
    position: relative;
}

#selectionBox {
    position:absolute;
    top:10rem;
    border: 3px solid darkred;
    width:calc(100% - 1.5rem);
    height:3rem;
    margin: 0 0.5rem;
}

#selection li {
    height:3rem;
    width:100%;
    margin:6px 10px;
    scroll-snap-align: center;
    background-color:beige;
    border-radius: 6px;
    padding:0.5rem 2rem;
}